h3{
    font-size: xx-large;
    color: #fff;
}

.container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 100px; 
    margin-top: 8vh;
    color: #fff;
    font-size: 25px;
    grid-column-gap:15px ;
    
}

.contain{
    display: grid;
   margin-left: 250px;
    
    color: #fff;
    font-size: 25px;
    
}